.nav-btn{
    position: absolute;
    z-index: 5;
    top:30px;
    right: 35px;
    @include easeOut;
    cursor: pointer;

    .btn-line{
        width: 27px;
        height: 3px;
        background: #fff;
        margin-bottom: 5px;
        @include easeOut;
    }

    //turn into X
    &.btn-active{
        transform: rotate(180deg);
        .btn-line{
            //first line rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px) ;
            }
            //second line hide
            &:nth-child(2){
                opacity: 0;
            }

            //third line rotate 

            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}


//Nav links

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // opacity:0.9;
    visibility: hidden;

    &.menu {
        visibility: visible;
    }

    &-picture, &-links{
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        float: left;
        height: 100vh;
        overflow: hidden;
    }

    &-links{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 6);
        list-style: none;
        //place it on the top
        transform: translate3d(0,-100%, 0);
        @include easeOut;
        
        &.menu {
            //slide back to original place when .menu is applied
            transform: translate3d(0, 0, 0);
        }
    }

    &-picture {
        background: $primary-color;
        //place it on the bottom of the page
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.menu {
            //slide back to the original position when .menu is applied 
            transform: translate3d(0, 0, 0);
        }
    }

    .picture{
        height: 250px;
        width: 250px;
        background: url('../img/profile.jpeg');
        border-radius: 50%;
        border: solid 3px $secondary-color;
        background-size: cover;
        background-position: center;
    }

    .link{
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        //slide from the right side
        &.menu{
            transform:translate3d(0,0,0);
        }

        &.active > a{
            color: $secondary-color;
        }
    }


    //each link-item will have a delay
    @for $x from 1 through 4 {
        .link:nth-child(#{$x}){
            transition-delay: $x * 0.1s;
        }
    }

    .link-item{
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        font-size: 1.6rem;
        padding: 1rem 0;
        text-decoration: none;
        @include easeOut;

        &:hover{
            color: $secondary-color;
        }

    }


}

